h1 {
    background-color:red;
    }

body {
background-image:url('pics/bg4.png');
background-size: 30%;
}

.front1 {
    width:130%;
    -webkit-transform: rotate(-3deg);
}
.front2 {
    width:150%;
    -webkit-transform: rotate(1deg);
}
.front3 {
    width:130%;
    -webkit-transform: rotate(1deg);
}
.row-pic {
    margin-top:80px;
    margin-left:-120px;
}
.row-pic img {
    box-shadow:3px 3px 5px rgba(0, 0, 0, 0.5);
}
.main-text {
    text-align:center;
}

.last-footer {
    
    margin-bottom:0;
    padding-bottom: 0;
    margin-top:40px;
}

.panel-body {
        margin:0 auto;
    
}


.main-text p {
        margin: 0 20px 20px 20px;
    }
.join-text {
        font-size:30px;
        
    }
    
.form-group  {
        text-align:center;
        margin:0 30px 0 30px;
}
    
.buttom-mobil {
        text-align:center;
}
    
.form-group input {
        margin-bottom:10px;
}

.row-icon img {
    display:block;
}
.row-icon {
    width:150%;
    }
    

.last-footer {
    margin-bottom:-20px;
}

.panel-body {
    background:rgba(0,0,0,0.8);
    
}
.panel-footer {
    background:rgba(0,0,0,0.9);
     border-radius: 0;
     text-align:center;
     
}

.login {
    width:30%;
    position: relative;
    margin-top:10px;
    padding-bottom:3px;
   
}




/*==============================================================================*/
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 767px) {
    
    body {
        background-image:url('');
        
        
    }
    
    h1 {
        color:white;
        background:rgba(0,0,0,0.4);
        z-index:100;
        position:relative;
        text-align:center;
        font-size:40px;
        margin-top:-100px;
        margin-bottom:20px;
        padding:20px 0 20px 0;
    }
    
    
    .row-pic img {
    box-shadow:3px 3px 5px rgba(0, 0, 0, 0);
}
    
    .front1 {
        width:100%;
        border-radius: 0;
    -webkit-transform: rotate(0deg);
    }
    
    .pic-1 {
        position:relative;
        margin-top:-100px;
        
         text-align: center;
    }
    
    
    
    
}

 

@media (min-width: 768px) and (max-width: 991px) {

    .row {
        
    }
        .front2 {
        width:50%;
        border-radius: 0;
        -webkit-transform: rotate(0deg);
       
    }
    
        .pic-2 {
            margin-top:-40px;
             text-align: center;
        }
    
    }


/* RESPONSIVE CSS
-------------------------------------------------- */


