html, body, #map-canvas {
        height: 100%;
        margin: 0;
        padding: 0;
      }
.map {
    height:400px; 
    width:400px;
    margin-left:auto;
    margin-right:auto;
}


body {
background-image:url('pics/bg-10.png');
background-repeat: no-repeat;;
background-size:100% 100%;

}


.front1 {
    width:130%;
    -webkit-transform: rotate(-3deg);
}
.front2 {
    width:150%;
    -webkit-transform: rotate(1deg);
}
.front3 {
    width:130%;
    -webkit-transform: rotate(1deg);
}
.row-pic {
    margin-top:80px;
    margin-left:-120px;
}
.row-pic img {
    box-shadow:3px 3px 5px rgba(0, 0, 0, 0.5);
}
.main-text {
    text-align:center;
}

.last-footer {
    
    margin-bottom:0;
    padding-bottom: 0;
    margin-top:40px;
}

.panel-body {
        margin:0 auto;
    
}


.main-text p {
        margin: 0 20px 20px 20px;
    }
.join-text {
        font-size:30px;
        text-align:center;
        
    }
    
.form-group  {
        text-align:center;
        margin:0 30px 0 30px;
}
    
.buttom-mobil {
        text-align:center;
}
    
.form-group input {
        margin-bottom:10px;
}


.row-icon img {
    display:block;
}
.row-icon {
    width:150%;
    }
    


.panel-body {
    background:rgba(0,0,0,0.8);
    
}
.panel-footer {
    background:rgba(0,0,0,0.9);
     border-radius: 0;
    
     
}



.login {
    width:30%;
    position: relative;
    margin-top:10px;
    padding-bottom:3px;
   
}

.photo {
    width:80px;
    float:left;
    margin: 22px 20px 50px 110px;
    
}
.myInfo {
    float:left;
     
       
}
.adr {
    float:left;
}



.head {
    text-align:center;
   
}

.blogg-links li {
    width:100%;
}
.name {
    clear:both;
}


.article {
    margin: 40px 30px 20px 30px;
}
.article h2 {
    margin-left:50px;
}


/*----    skiss css inlänk      -----*/
.skiss {
  float:left;
  margin:20px 20px 20px 20px;
  
}
.skiss {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('pics/skiss.jpg') no-repeat;
  background-size: 100%;
  width: 180px; /*Width of new image */
  height: 236px; /* Height of new image */
  /* padding-left: 180px;  Equal to width of new image */
}

.aside {
    margin:60px 0 0 30px;
}

.form-control {
    margin:10px 0 10px 0;
}

#hcard-Mathias-Claesson {
    margin-bottom:200px;
}

#contacts {
    margin-top:100px;
}


/*==============================================================================*/
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 767px) {
    
    body {
        background-image:url('');
        
    }
    

    h1 {
        background-color:black;
        color:white;
        background:rgba(0,0,0,0.4);
        z-index:100;
        position:relative;
        text-align:center;
        font-size:40px;
        margin-top:-100px;
        margin-bottom:20px;
        padding:20px 0 20px 0;
    }
    
    
    .row-pic img {
    box-shadow:3px 3px 5px rgba(0, 0, 0, 0);
}
    
    .front1 {
        width:100%;
        border-radius: 0;
    -webkit-transform: rotate(0deg);
    }
    
    .pic-1 {
        position:relative;
        margin-top:-100px;
        text-align: center;
    }
   
    
    .head {
        margin-top:100px;
    }
    .article {
    text-align:center;
    }
    .join-text {
        margin-top:40px;
    }
    
    
}

 

@media (min-width: 768px) and (max-width: 2000px) {

    .row {
        
    }
        .front2 {
        width:50%;
        border-radius: 0;
        -webkit-transform: rotate(0deg);
       
    }
        .pic-2 {
            margin-top:-40px;
             text-align: center;
        }
    .navleft {
    float:right;
 
    }
    .row-icon {
    width:100%;
    margin-left:80px;
    }

     
}





